snippet cpfile "Template for Competive Programing source code"
// ${1:Judge} - ${2:Problem Name} - ${3:Code number}
#include <bits/stdc++.h>
using namespace std;

int main() {
	ios::sync_with_stdio(false);
	cin.tie(nullptr);
	cout.tie(nullptr);

	$0
	return 0;
}
endsnippet
